    {%  extends 'layout.twig' %}

    {% set title = 'Todolist - Delete' %}

    {% block javaScript %}
        <script src="js/delete.js"></script>
    {% endblock %}

    {% block content %}

        <div class="box" id="boxCompleteTodo">

            <h2>Complete todo</h2>

            <div class="boxInner">
                <p>Are you sure you want to complete the todo <strong>{{ todo.what }}</strong>?</p>
                <form action="{{ deleteUrl }}" method="post">
                    <fieldset class="columns">
                        <label class="column column-12 cancel alignLeft"><a href="index.php" title="Cancel and go back">Cancel and go back</a></label>
                        <label for="btnSubmit" class="column column-12 alignRight"><input type="submit" id="btnSubmit" name="btnSubmit" value="Complete" /></label>
                        <input type="hidden" name="id" value=" {{ todo.id }}" />
                        <input type="hidden" name="moduleAction" id="moduleAction" value="delete" />
                    </fieldset>
                </form>
            </div>

        </div>

        {% include 'partials/formerrors.twig' %}
    {% endblock %}